{% load static %}
<header class="bg-dark text-white py-3">
    <div class="container">
        <nav class="navbar navbar-expand navbar-dark">
            <a class="navbar-brand" href="{% url 'index' %}">My Cafe App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if request.path != '/' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>
                    {% endif %}
                    {% if request.path != '/orders/' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'order_list' %}">Orders</a>
                        </li>
                    {% endif %}
                    {% if request.path != '/orders/create/' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'order_create' %}">New order</a>
                        </li>
                    {% endif %}
                    {% if request.path != '/revenue/' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'revenue' %}">Revenue</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>