{% extends 'base.html' %}

{% block title %}CAFE-CRUD{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <h1 class="display-4">CAFE-CRUD</h1>
        <p class="lead">Welcome to our simple order management system!</p>
        <hr class="my-4">
        <p>Manage your orders efficiently with our easy-to-use interface.</p>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="{% url 'order_list' %}" class="btn btn-primary btn-block">View Orders</a>
            </div>
            <div class="col-md-4">
                <a href="{% url 'order_create' %}" class="btn btn-success btn-block">Create New Order</a>
            </div>
             <div class="col-md-4">
                <a href="{% url 'revenue' %}" class="btn btn-info btn-block">View Total Revenue</a>
            </div>
        </div>

    </div>
{% endblock %}