{% extends 'base.html' %}

{% block title %}Order Details{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-3">Order Details</h1>
</div>
    <p class="display-5">Table Number: {{ order.table_number }}</p>
    <p class="lead">Status: {{ order.status_order }}</p>
    <p class="lead">Total Price: {{ order.total_price }}</p>

    <h2 class="lead">Dishes:</h2>
    <ul>
        {% for dish in order.dishes %}
            <li class="lead">{{ dish.dish_name }} - {{ dish.price }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'index' %}" class="btn btn-secondary">Main</a>
    <a href="{% url 'order_list' %}" class="btn btn-secondary">Back to List</a>
    <a href="{% url 'order_update' pk=order.id %}" class="btn btn-primary">Edit</a>
    <form method="post" action="{% url 'order_delete' pk=order.id %}" style="display: inline;">
        <!-- {% csrf_token %} -->
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>


{% endblock %}