{% extends 'base.html' %}

{% block title %}Edit Order{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Edit Order</h1>
    <form method="post">
        {% if form.errors %}
            <div class="alert alert-danger">
                Please correct the errors below.
            </div>
        {% endif %}

        <div class="form-group">
            <label for="{{ form.table_number.id_for_label }}" class="lead">Table Number:</label>
            <br>
            {{ form.table_number }}
            {% if form.table_number.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.table_number.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.dishes.id_for_label }}" class="lead">Dishes (JSON):</label><br>
            {{ form.dishes }}
            {% if form.dishes.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.dishes.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            <br><small class="form-text text-muted">Enter a JSON list of dishes, e.g.,<br> <code>[{"dish_name": "Soup", "price": 10}, {"dish_name": "Salad", "price": 8}]</code></small>
        </div>
        <br>
        <div class="form-group">
            <label for="{{ form.status_order.id_for_label }}" class="lead">Status Order:</label>
            {{ form.status_order }}
            {% if form.status_order.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.status_order.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Update Order</button>
    </form>
{% endblock %}